
/* DRAWMECSS - By Grady Ward (grady.b.ward@gmail.com)  */
/* Input file = [DrawMeCss/index.html], Today = [Thu Jun 09 17:44:43 EDT 2016] */
/* Version = 1.0 , Calculation Time = 0.697s */

.dm {
	-moz-animation-delay: 0s;
	-moz-animation-direction: normal;
	-moz-animation-duration: 1s;
	-moz-animation-fill-mode: both;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	position: relative;
}

.dm:before {
	-moz-animation-delay: inherit;
	-moz-animation-direction: normal;
	-moz-animation-duration: inherit;
	-moz-animation-fill-mode: both;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: inherit;
	-webkit-animation-delay: inherit;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: inherit;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: inherit;
	animation-delay: inherit;
	animation-direction: normal;
	animation-duration: inherit;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: inherit;
	background: black;
	border-color: inherit;
	border-style: inherit;
	border-width: inherit;
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
}

.dm:after {
	-moz-animation-delay: inherit;
	-moz-animation-direction: normal;
	-moz-animation-duration: inherit;
	-moz-animation-fill-mode: both;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: inherit;
	-webkit-animation-delay: inherit;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: inherit;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: inherit;
	animation-delay: inherit;
	animation-direction: normal;
	animation-duration: inherit;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: inherit;
	background: black;
	content: '';
	display: block;
	position: absolute;
}

.dm-border-width-10 .dm-border-color-0000FF .dm.dm-cw-ltr:after,
.dm-border-width-10 .dm-border-color-FFFF00 .dm.dm-cw-ltr:after {
	-moz-animation-name: dm-bl-10-after;
	-webkit-animation-name: dm-bl-10-after;
	animation-name: dm-bl-10-after;
}

.dm-border-width-10 .dm-border-color-00FF00 .dm.dm-ccw-lbr {
	-moz-animation-name: dm-ccw-lbr-00FF00-transparent-transparent-transparent-000000;
	-webkit-animation-name: dm-ccw-lbr-00FF00-transparent-transparent-transparent-000000;
	animation-name: dm-ccw-lbr-00FF00-transparent-transparent-transparent-000000;
}

.dm-border-width-10 .dm-border-color-00FF00 .dm.dm-ccw-lbr:before,
.dm-border-width-10 .dm-border-color-FF0000 .dm.dm-ccw-lbr:before {
	-moz-animation-name: dm-ccw-lbr-10-before;
	-webkit-animation-name: dm-ccw-lbr-10-before;
	animation-name: dm-ccw-lbr-10-before;
}

.dm-border-width-10 .dm-border-color-FF0000 .dm.dm-ccw-lbr {
	-moz-animation-name: dm-ccw-lbr-FF0000-transparent-transparent-transparent-000000;
	-webkit-animation-name: dm-ccw-lbr-FF0000-transparent-transparent-transparent-000000;
	animation-name: dm-ccw-lbr-FF0000-transparent-transparent-transparent-000000;
}

.dm-border-width-10 .dm-border-color-0000FF .dm.dm-cw-ltr {
	-moz-animation-name: dm-cw-ltr-0000FF-transparent-transparent-transparent-000000;
	-webkit-animation-name: dm-cw-ltr-0000FF-transparent-transparent-transparent-000000;
	animation-name: dm-cw-ltr-0000FF-transparent-transparent-transparent-000000;
}

.dm-border-width-10 .dm-border-color-0000FF .dm.dm-cw-ltr:before,
.dm-border-width-10 .dm-border-color-FFFF00 .dm.dm-cw-ltr:before {
	-moz-animation-name: dm-cw-ltr-10-before;
	-webkit-animation-name: dm-cw-ltr-10-before;
	animation-name: dm-cw-ltr-10-before;
}

.dm-border-width-10 .dm-border-color-FFFF00 .dm.dm-cw-ltr {
	-moz-animation-name: dm-cw-ltr-FFFF00-transparent-transparent-transparent-000000;
	-webkit-animation-name: dm-cw-ltr-FFFF00-transparent-transparent-transparent-000000;
	animation-name: dm-cw-ltr-FFFF00-transparent-transparent-transparent-000000;
}

.dm-border-width-10 .dm-border-color-00FF00 .dm.dm-ccw-lbr:after,
.dm-border-width-10 .dm-border-color-FF0000 .dm.dm-ccw-lbr:after {
	-moz-animation-name: dm-tl-10-after;
	-webkit-animation-name: dm-tl-10-after;
	animation-name: dm-tl-10-after;
}

.dm-border-width-10,
.dm-border-width-10 .dm {
	border-width: 10px;
}

@keyframes dm-bl-10-after {
	0.00% {
		height: 0;
		width: 0;
	}
	1.00%, 100.00% {
		bottom: -10px;
		height: 10px;
		left: -10px;
		right: auto;
		top: auto;
		width: 10px;
	}
}

@-webkit-keyframes dm-bl-10-after {
	0.00% {
		height: 0;
		width: 0;
	}
	1.00%, 100.00% {
		bottom: -10px;
		height: 10px;
		left: -10px;
		right: auto;
		top: auto;
		width: 10px;
	}
}

@-moz-keyframes dm-bl-10-after {
	0.00% {
		height: 0;
		width: 0;
	}
	1.00%, 100.00% {
		bottom: -10px;
		height: 10px;
		left: -10px;
		right: auto;
		top: auto;
		width: 10px;
	}
}


@keyframes dm-ccw-lbr-00FF00-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	32.67%, 65.32% {
		border-bottom-color: transparent;
		border-left-color: #00FF00;
	}
	65.33%, 97.99% {
		border-bottom-color: #00FF00;
		border-right-color: transparent;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-bottom-color: #00FF00;
		border-left-color: #00FF00;
		border-right-color: #00FF00;
	}
	100.00% {
		background-color: transparent;
		border-top-color: transparent;
		color: #000000;
	}
}

@-webkit-keyframes dm-ccw-lbr-00FF00-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	32.67%, 65.32% {
		border-bottom-color: transparent;
		border-left-color: #00FF00;
	}
	65.33%, 97.99% {
		border-bottom-color: #00FF00;
		border-right-color: transparent;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-bottom-color: #00FF00;
		border-left-color: #00FF00;
		border-right-color: #00FF00;
	}
	100.00% {
		background-color: transparent;
		border-top-color: transparent;
		color: #000000;
	}
}

@-moz-keyframes dm-ccw-lbr-00FF00-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	32.67%, 65.32% {
		border-bottom-color: transparent;
		border-left-color: #00FF00;
	}
	65.33%, 97.99% {
		border-bottom-color: #00FF00;
		border-right-color: transparent;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-bottom-color: #00FF00;
		border-left-color: #00FF00;
		border-right-color: #00FF00;
	}
	100.00% {
		background-color: transparent;
		border-top-color: transparent;
		color: #000000;
	}
}


@keyframes dm-ccw-lbr-10-before {
	0.00% {
		border-width: 0 0 0 0;
	}
	1.00% {
		border-width: 10px 10px 0 0;
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	33.65% {
		bottom: auto;
		height: 100%;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	33.66% {
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	66.32% {
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 100%;
	}
	66.33% {
		bottom: -10px;
		height: 0;
		left: auto;
		right: -10px;
		top: auto;
		width: 0;
	}
	98.99% {
		border-width: 10px 10px 0 0;
		bottom: -10px;
		height: 100%;
		left: auto;
		right: -10px;
		top: auto;
		width: 0;
	}
	100.00% {
		border-width: 0 0 0 0;
		bottom: auto;
		height: 10px;
		left: auto;
		right: -10px;
		top: -10px;
		width: 10px;
	}
}

@-webkit-keyframes dm-ccw-lbr-10-before {
	0.00% {
		border-width: 0 0 0 0;
	}
	1.00% {
		border-width: 10px 10px 0 0;
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	33.65% {
		bottom: auto;
		height: 100%;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	33.66% {
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	66.32% {
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 100%;
	}
	66.33% {
		bottom: -10px;
		height: 0;
		left: auto;
		right: -10px;
		top: auto;
		width: 0;
	}
	98.99% {
		border-width: 10px 10px 0 0;
		bottom: -10px;
		height: 100%;
		left: auto;
		right: -10px;
		top: auto;
		width: 0;
	}
	100.00% {
		border-width: 0 0 0 0;
		bottom: auto;
		height: 10px;
		left: auto;
		right: -10px;
		top: -10px;
		width: 10px;
	}
}

@-moz-keyframes dm-ccw-lbr-10-before {
	0.00% {
		border-width: 0 0 0 0;
	}
	1.00% {
		border-width: 10px 10px 0 0;
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	33.65% {
		bottom: auto;
		height: 100%;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	33.66% {
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	66.32% {
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 100%;
	}
	66.33% {
		bottom: -10px;
		height: 0;
		left: auto;
		right: -10px;
		top: auto;
		width: 0;
	}
	98.99% {
		border-width: 10px 10px 0 0;
		bottom: -10px;
		height: 100%;
		left: auto;
		right: -10px;
		top: auto;
		width: 0;
	}
	100.00% {
		border-width: 0 0 0 0;
		bottom: auto;
		height: 10px;
		left: auto;
		right: -10px;
		top: -10px;
		width: 10px;
	}
}


@keyframes dm-ccw-lbr-FF0000-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	32.67%, 65.32% {
		border-bottom-color: transparent;
		border-left-color: #FF0000;
	}
	65.33%, 97.99% {
		border-bottom-color: #FF0000;
		border-right-color: transparent;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-bottom-color: #FF0000;
		border-left-color: #FF0000;
		border-right-color: #FF0000;
	}
	100.00% {
		background-color: transparent;
		border-top-color: transparent;
		color: #000000;
	}
}

@-webkit-keyframes dm-ccw-lbr-FF0000-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	32.67%, 65.32% {
		border-bottom-color: transparent;
		border-left-color: #FF0000;
	}
	65.33%, 97.99% {
		border-bottom-color: #FF0000;
		border-right-color: transparent;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-bottom-color: #FF0000;
		border-left-color: #FF0000;
		border-right-color: #FF0000;
	}
	100.00% {
		background-color: transparent;
		border-top-color: transparent;
		color: #000000;
	}
}

@-moz-keyframes dm-ccw-lbr-FF0000-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	32.67%, 65.32% {
		border-bottom-color: transparent;
		border-left-color: #FF0000;
	}
	65.33%, 97.99% {
		border-bottom-color: #FF0000;
		border-right-color: transparent;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-bottom-color: #FF0000;
		border-left-color: #FF0000;
		border-right-color: #FF0000;
	}
	100.00% {
		background-color: transparent;
		border-top-color: transparent;
		color: #000000;
	}
}


@keyframes dm-cw-ltr-0000FF-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
	}
	32.67%, 65.32% {
		border-left-color: #0000FF;
		border-top-color: transparent;
	}
	65.33%, 97.99% {
		border-right-color: transparent;
		border-top-color: #0000FF;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-left-color: #0000FF;
		border-right-color: #0000FF;
		border-top-color: #0000FF;
	}
	100.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		color: #000000;
	}
}

@-webkit-keyframes dm-cw-ltr-0000FF-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
	}
	32.67%, 65.32% {
		border-left-color: #0000FF;
		border-top-color: transparent;
	}
	65.33%, 97.99% {
		border-right-color: transparent;
		border-top-color: #0000FF;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-left-color: #0000FF;
		border-right-color: #0000FF;
		border-top-color: #0000FF;
	}
	100.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		color: #000000;
	}
}

@-moz-keyframes dm-cw-ltr-0000FF-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
	}
	32.67%, 65.32% {
		border-left-color: #0000FF;
		border-top-color: transparent;
	}
	65.33%, 97.99% {
		border-right-color: transparent;
		border-top-color: #0000FF;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-left-color: #0000FF;
		border-right-color: #0000FF;
		border-top-color: #0000FF;
	}
	100.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		color: #000000;
	}
}


@keyframes dm-cw-ltr-10-before {
	0.00% {
		border-width: 0 0 0 0;
	}
	1.00% {
		border-width: 10px 10px 0 0;
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	33.65% {
		bottom: -10px;
		height: 100%;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	33.66% {
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	66.32% {
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 100%;
	}
	66.33% {
		bottom: auto;
		height: 0;
		left: auto;
		right: -10px;
		top: -10px;
		width: 0;
	}
	98.99% {
		border-width: 10px 10px 0 0;
		bottom: auto;
		height: 100%;
		left: auto;
		right: -10px;
		top: -10px;
		width: 0;
	}
	100.00% {
		border-width: 0 0 0 0;
		bottom: -10px;
		height: 10px;
		left: auto;
		right: -10px;
		top: auto;
		width: 10px;
	}
}

@-webkit-keyframes dm-cw-ltr-10-before {
	0.00% {
		border-width: 0 0 0 0;
	}
	1.00% {
		border-width: 10px 10px 0 0;
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	33.65% {
		bottom: -10px;
		height: 100%;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	33.66% {
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	66.32% {
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 100%;
	}
	66.33% {
		bottom: auto;
		height: 0;
		left: auto;
		right: -10px;
		top: -10px;
		width: 0;
	}
	98.99% {
		border-width: 10px 10px 0 0;
		bottom: auto;
		height: 100%;
		left: auto;
		right: -10px;
		top: -10px;
		width: 0;
	}
	100.00% {
		border-width: 0 0 0 0;
		bottom: -10px;
		height: 10px;
		left: auto;
		right: -10px;
		top: auto;
		width: 10px;
	}
}

@-moz-keyframes dm-cw-ltr-10-before {
	0.00% {
		border-width: 0 0 0 0;
	}
	1.00% {
		border-width: 10px 10px 0 0;
		bottom: -10px;
		height: 0;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	33.65% {
		bottom: -10px;
		height: 100%;
		left: -10px;
		right: auto;
		top: auto;
		width: 0;
	}
	33.66% {
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 0;
	}
	66.32% {
		bottom: auto;
		height: 0;
		left: -10px;
		right: auto;
		top: -10px;
		width: 100%;
	}
	66.33% {
		bottom: auto;
		height: 0;
		left: auto;
		right: -10px;
		top: -10px;
		width: 0;
	}
	98.99% {
		border-width: 10px 10px 0 0;
		bottom: auto;
		height: 100%;
		left: auto;
		right: -10px;
		top: -10px;
		width: 0;
	}
	100.00% {
		border-width: 0 0 0 0;
		bottom: -10px;
		height: 10px;
		left: auto;
		right: -10px;
		top: auto;
		width: 10px;
	}
}


@keyframes dm-cw-ltr-FFFF00-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
	}
	32.67%, 65.32% {
		border-left-color: #FFFF00;
		border-top-color: transparent;
	}
	65.33%, 97.99% {
		border-right-color: transparent;
		border-top-color: #FFFF00;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-left-color: #FFFF00;
		border-right-color: #FFFF00;
		border-top-color: #FFFF00;
	}
	100.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		color: #000000;
	}
}

@-webkit-keyframes dm-cw-ltr-FFFF00-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
	}
	32.67%, 65.32% {
		border-left-color: #FFFF00;
		border-top-color: transparent;
	}
	65.33%, 97.99% {
		border-right-color: transparent;
		border-top-color: #FFFF00;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-left-color: #FFFF00;
		border-right-color: #FFFF00;
		border-top-color: #FFFF00;
	}
	100.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		color: #000000;
	}
}

@-moz-keyframes dm-cw-ltr-FFFF00-transparent-transparent-transparent-000000 {
	0.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: transparent;
	}
	32.66% {
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
	}
	32.67%, 65.32% {
		border-left-color: #FFFF00;
		border-top-color: transparent;
	}
	65.33%, 97.99% {
		border-right-color: transparent;
		border-top-color: #FFFF00;
	}
	70.00% {
		background-color: transparent;
		color: transparent;
	}
	98.00% {
		border-left-color: #FFFF00;
		border-right-color: #FFFF00;
		border-top-color: #FFFF00;
	}
	100.00% {
		background-color: transparent;
		border-bottom-color: transparent;
		color: #000000;
	}
}


@keyframes dm-tl-10-after {
	0.00% {
		height: 0;
		width: 0;
	}
	1.00%, 100.00% {
		bottom: auto;
		height: 10px;
		left: -10px;
		right: auto;
		top: -10px;
		width: 10px;
	}
}

@-webkit-keyframes dm-tl-10-after {
	0.00% {
		height: 0;
		width: 0;
	}
	1.00%, 100.00% {
		bottom: auto;
		height: 10px;
		left: -10px;
		right: auto;
		top: -10px;
		width: 10px;
	}
}

@-moz-keyframes dm-tl-10-after {
	0.00% {
		height: 0;
		width: 0;
	}
	1.00%, 100.00% {
		bottom: auto;
		height: 10px;
		left: -10px;
		right: auto;
		top: -10px;
		width: 10px;
	}
}


