.bottom-bracket{
  width: 200px;
  height: 70px;
  display: inline-block;
  margin: 10px;
}
.top-bracket{
  width: 200px;
  height: 70px;
  display: inline-block;
  margin: 10px;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.bracket-wrapper {
  position: relative;
  height: 100vh;
  display: inline-block;
  width: 960px;
  margin-top: Calc(50vh - 165px);
  margin-left: 120px;
  overflow-x: visible;
}

.bracket-wrapper > div {
  display: block;
  width: 960px;
  position: absolute;
}

.top-brackets-1{
  top: 0;
  left: 0;
}

.bottom-brackets-1{
  top: 120px
}
  
.top-brackets-2{
  top: 100px;
  left: -120px;
}

.bottom-brackets-2{
  top: 220px;
  left: -120px
}